<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div className="App" class="bg-orange-50">
            <h1 class="text-lime-700">Harvest Aid</h1>
            <div class="text-lime-700">
                <h1>Count: 0</h1>
                <h1>Count: 1</h1>
                <h1>Count: 2</h1>
            </div>
            <h1 class="text-lime-700">Count: 3</h1>
            <button class="text-lime-700">Increase</button>
            <button class="text-lime-700">Decrease</button>
            <button class="text-lime-700">Reset</button>
            </div>
        
            <script src="" async defer></script>
    </body>
</html>