<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="images/New_Hacks-removebg-preview.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <title>Landing Page</title>
  </head>
  <body>
    <div style="background-color: rgb(245 244 227);" class="flex h-screen flex-col">
      <div style="background-color: rgb(178 192 176); height: 500px;" class="flex justify-center align-items w-full bg-pink-400 drop-shadow-md">
        <img style="height: 250px;" class="my-auto" src="{{ url_for('static', filename='HarvestAidText.png') }}">
      </div>
      <div class="flex justify-center h-2/3">
        <button style="background-color: rgb(178 192 176); font-family: Chewy; font-size: 30px; border-color: #8b9c8d;" class="mx-auto bg-pink-400 my-auto text-3xl px-5 py-2 border-b-4 rounded text-white transition ease-in-out hover:translate-y-1 hover:border-0"><a style="text-decoration: none; color: #8b9c8d;" href="{{ url_for('signup_view') }}">Get Started</a></button>
      </div>
    </div>
    
  </body>
</html>
